.item-container {
  margin: 6rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255);
  width: 300px;
  text-align: center;
  border: 3px solid #121212;
}

.item-image {
  width: 70%;
}

.item-input > * {
  margin: 0 1rem;
}

.item-input > button:hover {
  cursor: pointer;
  transform: scale(110%);
}
